{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        <h1>Missions edit</h1>

        {{ form(edit_form) }}
        
        <br/><br/>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('missions') }}">
                    Back to the list
                </a>
            </li>
            <li class="list-group-item">{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
