{% extends '::base.html.twig' %}

{% block body -%}
     <div class="container">
    <h1>Nouvelle mission</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('missions') }}">
            Retour à la liste
        </a>
    </li>
</ul>
     </div>
{% endblock %}
