{% extends '::base.html.twig' %}

{% block body -%}
     <div class="container">
    <h1>Nouvelle mission</h1>

    {{ form(form) }}

        <a href="{{ path('missions') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span> Retour à la liste
                </a>
     </div>
{% endblock %}
