{% extends '::base.html.twig' %}
{% block title %}Demandes{% endblock %}
{% block body -%}
    <div class="container">
    <h1>Demandes creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('demandes') }}">
            Back to the list
        </a>
    </li>
</ul>
    </div>
{% endblock %}
