{% extends '::base.html.twig' %}
{% block title %}Cantara{% endblock %}
{% block body %}
    <div class="container">
            {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock body %}
